//
  - BUILT by @ #{htmlWebpackPlugin.options.author} on #{BUILD_TIME}
doctype html
html
  head
    meta(charset="utf-8")
    title #{htmlWebpackPlugin.options.title}
  body
    div(id="app")
    //- built files will be auto injected
