html
  head
    meta(charset="utf-8")
    title Vue games
    style.
      body {
        margin: 0;
      }
      .project-link {
        display: inline-block;
        vertical-align: middle;
        width: 250px;
        height: 130px;
        border-radius: 5px;
        margin-left: 20px;
        margin-top: 20px;
        background-image: -webkit-gradient(linear, left top, right bottom, from(#00fff3), to(#00ffdc));
        background-image: -webkit-linear-gradient(left top, #00fff3, #00ffdc);
        background-image: -moz-linear-gradient(left top, #00fff3, #00ffdc);
        background-image: linear-gradient(to right bottom, #00fff3, #00ffdc);
        color: #555;
        font-size: 25px;
        text-decoration: none;
        text-align: center;
      }
      .project-link:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }

  body
    div#app
      each config, name in htmlWebpackPlugin.options.availableProjects
        a.project-link(href="#{config.filename}") #{name}