// float
.f-left
  float: left
.f-right
  float: right

// display
.dp-block
  display: block
.dp-none
  display: none
.dp-i-block
  display: inline-block
  vertical-align: middle
.dp-i
  display: inline

// vertical-align
.v-align-top
  vertical-align: top
.v-align-middle
  vertical-align: middle
.v-align-bottom
  vertical-align: bottom