/**
 * fade-in-up
 * -----
 * 从上方渐入
 */
.fade-in-up-enter,
.fade-in-up-leave-to
  transform: translateY(-150px)
  opacity: 0

.fade-in-up-enter-to,
.fade-in-up-leave
  transform: translateY(0)
  opacity: 1

.fade-in-up-enter-active,
.fade-in-up-leave-active
  transition: all .5s ease



